#connect {
  background: url(pony.jpg);
  background-size: 100% 100%;
  position: fixed;
  padding:0;
}

body, html {
  padding:0;
  margin: 0;
}

#gif_container {
  display: none;
  position: fixed;
}

#instructions {
    position: relative;
    bottom: 500px;
}

#text_here h2 {
    text-align: center;
}

#floating_pony {
  position: relative;
  left: -50px;
}
