#connect {
  background: url(pony.jpg);
  background-size: 100% 100%;
  position: fixed;
  padding:0;
}

body, html {
  padding:0;
  margin: 0;
}

#gif_container {
  display: none;
  position: fixed;
}

#wiki_info {
  background-color: white;
}
